* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#root {
  max-width: 1280px;
  margin: auto;
  color: #101828;
}

#main-page {
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  width: 80vw;
}

#twitter {
  font-size: 20px;
  font-weight: 700;
  margin: 1.5rem 0;
}

.shareDesktop {
  position: absolute;
  right: 16vw;
  top: 3rem;
}

.shareMobile {
  display: none;
}

section {
  margin-bottom: 1.5rem;
}

#btn__zuri,
#books,
#book__python,
#pitch,
#book__design,
#contact {
  display: block;
  text-decoration: none;
  height: fit-content;
  width: 100%;
  color: #101828;
  background-color: #EAECF0;
  font-weight: 500;
  font-size: 18px;
  padding: 1.6rem 0;
  margin: 1rem 0;
  border: none;
  border-radius: 10px;
}

.tweet__pic {
  height: 100%;
  border-radius: 50%;
  height: 8rem;
}


.logo__div img {
  padding: 0.5rem;
}

footer {
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  border-top: 2px solid #101828;
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

#contact-page {
  width: 80vw;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#contact-page h4 {
  font-size: 3rem;
  text-align: start;
}

.greeting {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #475467;
}

form {
  display: block;
  text-align: initial;
}

label {
  display: block;
  padding: 0.4rem 0;
  margin-left: 0.4rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .input-group {
  flex-basis: 48%;
}

#first_name,
#last_name,
#email,
textarea,
button {
  width: 100%;
  border-radius: 10px;
}

textarea::placeholder,
input::placeholder {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: #667085;
}

.input-group,
.email {
  margin-bottom: 0.8rem;
}

input,
textarea {
  border: 1px solid gray;
  padding: 0.7rem;
  outline: 0;
  font-size: 1.2rem;
}

input:focus,
textarea:focus,
input:valid,
textarea:valid {
  border-color: #B2DDFF;
}

input:required {
  border-color: #f83f23;
}

.error-info {
  color: #f83f23;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

#checkbox {
  border: unset;
  outline: 1px solid #B2DDFF;
}

.contract {
  margin: 1.5rem 0;
}

span {
  margin-left: 0.4rem;
}


#contact-page button {
  border: unset;
  padding: 0.8rem 0;
  background-color: #175CD3;
  color: #ffffff;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  footer {
    display: block;
    text-align: left;
  }

  footer p {
    margin: 1.5rem 0;
  }

  .shareMobile {
    display: block;
    position: absolute;
    right: 8vw;
    top: 3rem;
  }

  .shareDesktop {
    display: none;
  }

  .row {
    display: block;
  }

  #contact-page {
    width: 90vw;
  }

}